.wd-search-bar {
    position: relative;
    padding-left: 40px;
}

.fa-search {
    position: absolute;
    top: 20px;
    padding-left: 10px;
}

.list-group-item {
    padding: 0;
}

.wd-image {
    position: relative;
}


.wd-image-text {
    position: absolute;
    bottom: 3px;
    left: 10px;
    color: white;
}



.wd-left-nav {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-radius: 0;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.wd-left-nav-link {
    color: black;
}

.card {
    border-radius: 0;
}



.wd-main {
    margin-left: 40px;
    border-left: 1px solid;
    border-color: rgb(47, 51, 54);
}

.wd-top-bar {
    display: flex;
    margin-left: 16px;
}



