

.wd-title {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 0;
}

.wd-main-content {
    padding: 12px 0 12px 16px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 0 1px 1px 1px;
}

.wd-bookmarks-title {
    padding: 12px 0 12px 16px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
}

.wd-handle {
    color: #858585;
    font-size: 13px;
    font-family: sans-serif;
}

.wd-profile-pic {
    border-radius: 50%;
    width: 48px;
    vertical-align: top;
}

.wd-post-image-style {
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin-top: 12px;
}

.wd-post-image-details {
    color: white;
    max-width: 480px;
    font-family: sans-serif;
    font-size: 15px;
    padding: 12px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
}

.wd-post-image-details-desc {
    color: white;
    max-width: 480px;
    font-family: sans-serif;
    font-size: 15px;
    padding: 0px 0 12px 12px;
}

.wd-post-details {
    margin: 0 0 0 12px;
    display: inline-block;
}

.wd-post-text {
    color: white;
    max-width: 506px;
    font-family: sans-serif;
    font-size: 15px;
}

.wd-gray {
    color: #777777;
}

.wd-post-image {
    width: 504px;
    height: 264px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;

}

.wd-post-actions {
    margin-top: 12px;
}